
.main-container{
    width: 100%;
    height: 100%;
}

.sidebar{
    width: 30%;
    height: 100%;
}

.content{
    width: 70%;
    height: 100%;
    border: solid #055cff;
    background: $surface;
}